<!-- <div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4">
    <form [formGroup]="loginForm" (ngSubmit)="autenticar()">
      <div class="mb-3">
        <label for="verified_user" class="form-label">Usuario</label>
        <input
          type="text"
          class="form-control"
          id="verified_user"
          aria-describedby="usuario"
          formControlName="usuario"
        />
        <div *ngIf="f['usuario'].touched && f['usuario'].invalid" id="sm-mensaje">
          <small *ngIf="f['usuario'].errors?.['required']">El nombre es requerido</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="txt-pass"
          formControlName="password"
        />
        <div *ngIf="f['password'].touched && f['password'].invalid" id="sm-mensaje">
          <small *ngIf="f['password'].errors?.['required']">El password es requerido</small>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" [disabled]="loginForm.invalid"  class="btn btn-primary btn-md">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>-->

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form [formGroup]="loginForm" (ngSubmit)="autenticar()">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-capitalize">Todero App</h2>
                <p class="text-white-50 mb-2">
                  Por favor ingresa tu usuario y Contraseña!
                </p>
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Usuario</label>
                  <input
                    type="text"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                    formControlName ="usuario"
                  />
                  <div *ngIf="f['usuario'].touched && f['usuario'].invalid" id="sm-mensaje">
                    <small *ngIf="f['usuario'].errors?.['required']">El usuario es requerido</small>
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  <div *ngIf="f['password'].touched && f['password'].invalid" id="sm-mensaje">
                    <small *ngIf="f['password'].errors?.['required']">La contraseña es requerida</small>
                  </div>
                  <label class="form-label" for="typePasswordX">Contraseña</label>
                </div>

                <p class="small mb-5 pb-lg-2">
                  <a class="text-white-50" href="#!">Recordar contraseña?</a>
                </p>

                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5"
                type="submit" [disabled]="loginForm.invalid" >Login</button>
              </div>
            </form>

            <div>
              <p class="mb-0">
                No tienes una cuenta?
                <a href="#!" class="text-white-50 fw-bold">Registrarse</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
